<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/style.css">
<title>contact | LINGER</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center"> 
          <a class="nav-link" href="/" id="nav_logo">
            <img src="../public/images/logo.png"  class="logo">
          </a> 
          <a class="nav-link" href="/" id="indexNav">首页</a> 
          <a class="nav-link" href="/form" id="workNav">作品管理</a> 
          <a class="nav-link " href="/search" id="recordNav">练唱</a> 
          <a class="nav-link active" href="#" id="contactNav">联系我们</a> 
<div class="dropdown" id="smallMenu">
                  <img class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../public/images/smallMenu.png">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button"><a href="/">首页</a></button>
                      <button class="dropdown-item" type="button"><a href="/participate">作品管理</a></button>
                      <button class="dropdown-item" type="button"><a href="/search">练唱</a></button>
                    </div>
               </div>
          <a class="nav-link" href="#" id="me">ME</a> </nav>
      </div>
    </header>
  </div>
<div class="funIntro">
  <h1 class="funTitle">联系我们</h1>
  <br>
  <p class="funExplain">感谢您使用LINGER，若您在LINGER使用途中有任何不解或希望为我们提供专业意见，<br>
    请您通过以下方式联系我们，我们将尽快给您回复，为您提供更好的服务，谢谢！<br>
    商务合作请额外备注“商务合作+团队/公司名称+联系方式”。</p>
</div>

<div class="contactTop">
  <div class="map">
    <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://surl.amap.com/4P67hMg1h2E7'>
    </iframe>
  </div>

  <div class="contactArea">
    <div class="contactWay">
      <h4 class="contactWayTitle">联系方式</h4>
      <p>020-10031220</p>
      <p>LingerCulture@gmail.com</p>
      <p>周一到周五 10:00-16:00</p>
      <img src="../public/images/facebookIcon.png" class="contactIcon">
      <img src="../public/images/twitterIcon.png" class="contactIcon" id="twitterIcon">
      <img src="../public/images/weiboIcon.png" class="contactIcon"> 
    </div>
  </div>
</div>

<div class="contactBottom">
  <h4 class="contactQueTitle">问题咨询</h4>
  <input type="text" class="form-control" placeholder="用户名" aria-label="Username" aria-describedby="basic-addon1" id="contactUserName">
  <input type="text" class="form-control" placeholder="邮箱" aria-label="Email" aria-describedby="basic-addon1" id="contactEmail">
  <input type="text" class="form-control" placeholder="您想咨询的问题" aria-label="Email" aria-describedby="basic-addon1" id="contactMessage">
  <button class="saveBtn" id="contactSubmit">提交</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>