<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="shortcut icon" href="#" />

<style type="text/css">
    .btn_audioRec {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background: url(../public/images/mic.png) no-repeat center bottom;
    background-size: cover;
   }
</style>

<title>record | practice</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center"> 
        <a class="nav-link" href="/" id="nav_logo">
            <img src="../public/images/logo.png" class="logo">
        </a> 
        <a class="nav-link" href="/" id="indexNav">首页</a> 
        <a class="nav-link" href="/form" id="workNav">作品管理</a> 
        <a class="nav-link active" href="/search" id="recordNav">练唱</a> 
        <a class="nav-link" href="/contact" id="contactNav">联系我们</a>

        <div class="dropdown" id="smallMenu">
                  <img class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../public/images/smallMenu.png">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                       <button class="dropdown-item" type="button"><a href="/">首页</a></button>
                      <button class="dropdown-item" type="button"><a href="/participate">作品管理</a></button>
                      <button class="dropdown-item" type="button"><a href="/contact">联系我们</a></button>
                    </div>
               </div> <a class="nav-link" href="#" id="me">ME</a> </nav>
    </div>
  </header>
</div>
<div class="funIntro">
  <h1 class="funTitle">练唱</h1>
  <br>
  <p class="funExplain">练唱是LINGER的一大核心功能，其中的声音叠制算法是平台为合唱团所独创。LINGER的仿真模拟可以助您达到与线下训练相近的效果，欢迎使用LINGER辅助合唱练习。</p>
</div>
<nav id="secondNav" class="nav nav-masthead justify-content-center"><a class="nav-link" href="/search">查询</a><a class="nav-link" href="/searchResult">作品详情</a> <a class="nav-link active" href="#">录制</a> 
    <a class="nav-link" href="/output">输出</a> </nav>
<div class="direction"> 
    <img src="../public/images/top.png"  id="top"> 
    <img src="../public/images/bottom.png"  id="bottom"> 
</div>


  <div class="recordTop">
    <img src="../public/images/back.png" id="back" alt=""> 
    <img src="../public/images/setting.png" id="setting" alt="">
    <h2 class="workName">BABA_YETU | 版本02 </h2>
  </div> 


<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js"></script> 
<script type="text/javascript">
   
    


    var timer = setInterval(function(){ bottomMovie() }, 5500);  

    var container = document.createElement('div');
    container.className = 'containers';
    document.body.appendChild(container);
    // 把container追加到body中
    var uls = document.createElement('ul');
    uls.className = 'ulContainer'
    uls.id = 'ulList'
    var lis = '';
    for (var i = 1 ; i < 8 ; i++) {
        lis = document.createElement('li')
        var img = document.createElement('img')
        img.setAttribute("id", "newImg");
        img.src = `../public/images/lyric/b${i}.gif`
        lis.className = 'lis'
        lis.appendChild(img)
        uls.appendChild(lis)
    } 
    container.appendChild(uls)
    uls.appendChild(lis)
    var tops = document.getElementById('top')
    var bottoms = document.getElementById('bottom')
    var ulLists = document.getElementById('ulList');
    var lis = ulLists.getElementsByTagName('li');
    var i = 0;
    tops.onclick = () => {
        --i;
        if ( i > 6 || i <= 0) {
            ulLists.style.top = 0+'px';
            i = 0;
        } else {
            ulLists.style.top = -489*i+'px'
        }                
    }
    function bottomMovie(){
        ++i;
        if ( i > 6) {
            ulLists.style.top = 0+'px';
            i = 0;
        } else {
            ulLists.style.top = -489*i+'px'
        }
    }
    bottoms.onclick = () => {
        bottomMovie()
    }

   var audioRec=document.getElementById('audioRec');


$(function(){
            //播放完毕
            $('#audioRec').on('ended', function() {
                console.log("音频已播放完成");
                $('.btn_audioRec').css({'background':'url(../public/images/mic.png) no-repeat center bottom','background-size':'cover'});
                clearInterval(timer);//清除定时器
            })
            //播放器控制
            var audioRec = document.getElementById('audioRec');
            audioRec.volume = .3;
            $('.btn_audioRec').click(function() {
                event.stopPropagation();//防止冒泡
                if(audioRec.paused){ //如果当前是暂停状态
                    $('.btn_audioRec').css({'background':'url(../public/images/suspended.png) no-repeat center bottom','background-size':'cover'});
                    audioRec.play(); //播放
                    return;
                }else{//当前是播放状态
                    $('.btn_audioRec').css({'background':'url(../public/images/mic.png) no-repeat center bottom','background-size':'cover'});
                    audioRec.pause(); //暂停
                }
            });
        })


</script>

<div class="btnArea"> 
    <img src="../public/images/repeat.png" alt=""  style="width: 25px" class="repeatBtn">
     <img src="../public/images/complete.png" alt=""  style="width: 25px" class="completeBtn" onclick="window.location.href ='/output'">
    <div class="btn_audioRec">
     <audio id="audioRec">
      <source src="../public/song/Piano.wav" type="audio/mpeg"/>
     </audio>
   <!--    <audio controls class="audio-player" ></audio> -->
    </div>
   
</div>

   <script src="../public/js/GetMicrophone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>